{% block footer %}
    <footer>
        {# FOOTER CONTENT #}
        <div class="g-flex-col footer__container">
            <div>© U BÍLÉHO KONÍKA {{ current_year }} • VŠECHNA PRÁVA VYHRAZENA • KOSTELNÍ BŘÍZA</div>
            <div class="g-flex-row footer__social">
                <span>Sledujte nás</span>
                {% include 'includes/icon24_facebook_link.html' %}
                {% include 'includes/icon24_instagram.link.html' %}
            </div>
        </div>

    </footer>
{% endblock %}