{% extends 'base/base.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}



{% block content %}
    <h1>Web managemenet</h1>
    <h1>{{ LANGUAGE_CODE }}</h1>
    {{ LANGUAGES }}

    {# SET NUMBER OF ANNOUNCEMENTS TO DISPLAY ON HOME PAGE #}
    <form action="{% url 'main:set_announcement_count_form' %}" name="set_announcement_count_form" method="post"
          class="g-form" onchange="form.submit()">
        {% csrf_token %}
        {{ announcements_count_form }}
        {#        <input type="submit" name="Submit" value="Nastavit" class="g-btn">#}
    </form>


    {# ADD NEW ANNOUNCEMENT #}
    <form action="{% url 'main:add_announcement_form' %}" name="add_announcement_form" method="post" class="g-form">
        {% csrf_token %}
        {{ announcement_form }}
        <input type="submit" name="Submit" value="Přidat oznámení" class="g-btn">
    </form>

    {# ANNOUNCEMENTS TABLE #}

    <table>
        <tr>
            <th>{% trans 'Upraveno' %}</th>
            <th>{% trans 'Oznámení' %}</th>

        </tr>

        {% for announcement in announcements %}
            <tr>
                <td>{{ announcement.updated_at }}</td>
                {# TODO Language wise output #}
                <td>{{ announcement.cs }}</td>
                <td><a href="{% url 'main:announcement_update' announcement.id %}" class="g-btn">Edit</a></td>
                <td><a href="" class="g-btn">Delete</a></td>
            </tr>
        {% empty %}
            <td>{% trans 'Nebyla vytvořena žádná oznámení' %}</td>
        {% endfor %}
    </table>

    ddss

{% endblock %}