:root {
    --bg-primary: rgb(255, 255, 255);

    --surface-primary: rgb(172, 43, 49);
    --surface-primary-darker: rgb(136, 30, 36);
    --surface-secondary: rgb(255, 234, 186);

    --font-primary: rgb(64, 63, 71);

}