@import 'colors.css';

@font-face {
    font-family: 'WorkSans';
    src: local('WorkSans'),
    url('../fonts/WorkSans-VariableFont_wght.ttf') format("truetype");
}

@font-face {
    font-family: 'WorkSansItalic';
    src: local('WorkSansItalic'),
    url('../fonts/WorkSans-Italic-VariableFont_wght.ttf') format("truetype");
}

* {
    margin: 0;
    padding: 0;

    font-family: "WorkSans", serif;
    font-weight: 100;
    font-size: 1rem;
    color: var(--font-primary);


}

a {
    text-decoration: none;
}

body {
    background-color: var(--bg-primary);

}

body > .body__container {
    max-width: 1000px;
    margin: auto;
    background-color: var(--surface-secondary);
    box-shadow: 1px 1px 16px grey;
}

/*MIXIN*/
.g-flex-row {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.g-flex-col {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.g-shadow-8 {
    box-shadow: 0 0 8px grey;
}

.g-list-clean {
    text-decoration: none;
    list-style: none;
}

.g-btn {
    -webkit-appearance: none;
    outline: none;
    border: none;
    margin: 0;
    padding: 4px 6px;
    background: var(--surface-primary);
    color: var(--surface-secondary);
    box-shadow: 1px 1px 4px lightgrey;
    border-radius: 4px;
}

.g-btn:hover {
    background: var(--surface-primary-darker);
    cursor: pointer;
}

.g-form input[type=text], input[type=password] {
    background: var(--surface-secondary);
    color: var(--surface-primary);
    border: 2px solid var(--surface-primary);
    border-radius: 4px;
    box-shadow: 1px 1px 4px lightgrey;
    padding: 8px;

}

.g-table {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

.g-table th {
    background: var(--surface-primary);
    color: var(--surface-secondary);
}

.g-table tr {
    border: 1px solid grey;
}

.g-table tr:hover {
    background: rgba(172, 43, 49, 0.1);
    color: var(--surface-secondary);
}

.g-table td {
    margin: 1px;
    padding: 6px;
}

