.header__container {
    margin: 0;
    padding: 0;
}

.header__topbar {
    padding: 4px;
    background-color: var(--surface-secondary);
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid var(--surface-primary);
}
.header__topbar div:first-child {
    color: var(--surface-primary);
    flex-grow: 1;
}
.header__topbar div {
    margin: 0 4px;
}


.header__select-field{
	box-sizing: border-box;
	border: 1px solid var(--surface-primary);

	border-radius: 2px;
	padding: 2px;
    background-color: transparent;
    color: var(--surface-primary)
}

.header__image {
    display: block;
    width: 100%;
    height: auto;
    opacity: 0.9;
}

.header__menu {
    background-color: var(--surface-primary);
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    box-shadow: 0 4px 8px grey;
}
.header__menu > * {
    padding: 4px 8px;
    font-size: 1.2rem;
    font-weight: normal;
    color: var(--surface-secondary)
}
.header__menu > a:hover {
    background-color: var(--surface-primary-darker)
}

