.header__container {
    margin: 0;
    padding: 0;
}

.header__topbar {
    padding: 4px;
    background-color: var(--surface-secondary);
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
}
.header__topbar > div {
    margin: 0 4px;
}

.header__select-field{
	box-sizing: border-box;
	border: 1px solid var(--surface-primary);

	border-radius: 2px;
	padding: 2px;
    background-color: transparent;
    color: var(--surface-primary)
}

.header__image {
    display: block;
    width: 100%;
    height: auto;
}

.header__menu {
    background-color: var(--surface-primary);


    display: flex;
    flex-flow: row;
    justify-content: flex-end;
}
.header__menu > a {
    padding: 4px 8px;
    font-size: 1.5rem;
    font-weight: normal;
    color: var(--surface-secondary)
}
.header__menu > a:hover {
    background-color: var(--surface-primary-darker)
}