.home__container {
    padding: 0 4rem;
}
.home__container > div {
    margin-top: 4rem;
}
.home__container > div:last-child {
    margin-bottom: 4rem;
}

.home__history {
    text-align: justify;
    text-indent: 1rem;
}

.home__pictures img {
    border: 1px solid white;
}
