.icon__facebook24 {
    background: url('../icons/facebook24px.png');
    height: 24px;
    width: 24px;
    display: block;
}

.icon__instagram24 {
    background: url('../icons/instagram24px.png');
    height: 24px;
    width: 24px;
    display: block;
}