.webmanage__container {
    margin-top: 4rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    min-height: 600px;

}

.webmanage__container > * {
    margin: 12px;
}

.webmanage__container h2 {
    font-size: 1.4rem;
    padding: 4px;
}

/* ANNOUNCEMENTS SETTINGS SECTION */
.webmanage__announcements {
    box-shadow: 0 0 4px var(--surface-primary);
    border-radius: 4px;
    padding: 12px;
    display: flex;
    flex-flow: column;
    min-width: 800px;
}

/* ANNOUNCEMENTS SETTINGS SECTION > top panel */
.webmanage__announcements-top {
    display: flex;
    flex-flow: column;
    margin: 1rem 0;
}

.webmanage__announcements-top > * {
    margin: 6px 0
}

.webmanage__heading {
    font-size: 2rem;
}

.webmanage__add_news_form {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    padding: 8px;
}